.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 20%;
  min-height: 100vh;
}

.Header {
  color: #d6d1d1;
  text-shadow: 0.5px 0.5px 3px #fff;
}

.accordeon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: solid rgba(170, 71, 0, 0.622);
}

.accordeon__detail {
  padding: 0.5rem 2rem 0.5rem;
}

.accordeon__detail p {
  line-height: 1;
}
.accordeon__detail span {
  font-weight: bold;
}
.accordeon__title {
  padding: 1rem 2rem;
  font-weight: 900;
  font-size: larger;
}

p {
  font-size: 0.8rem;
  font-weight: normal;
  font-family: sans-serif;
}

/* write your parent styles in here for your App.js */